.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header'
    'main main main main'
    'footer footer footer footer';

  .header {
    grid-area: header;
    background-color: red;
  }
  .main {
    grid-area: main;
    background-color: yellow;
  }

  .footer {
    grid-area: footer;
    background-color: blue;
  }
}
